body {
    font-family: "Poppins", sans-serif;
    background: #f5f5f5;
    background-color: rgba(244, 78, 136, 0.808);
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 100vh;
    margin-top: 60px;
  }
  
  .container {
    background: white;
    padding: 20px 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px #cccccc;
    width: 350px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    gap: 10px;
  }
  
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    background-color: #00ff26;
    color: white;
    cursor: pointer;
    transition: 0.3s;
  }
  
  button:hover {
    background-color: #b30000;
  }
  
  ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
  }
  
  li {
    background: #b0096a;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
  }
  
  .actions button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: #007bff;
    font-weight: 600;
  }
  
  .actions button:hover {
    color: #0056b3;
  }
  